/* Base Styles */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

hr {
    opacity: 0.2;
}

input {
    font-size: 14px !important;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1em;
}
